:root {
    --primary-colour: #DED6F3;
    --secondary-colour: #FFFFFF;
    --background-colour: #FEF5D6;
}

body {
    margin: 0;
}

header {
    background-color: var(--primary-colour);
    text-align: center;
    padding: 16px;
}

.logo-name a img {
    height: 40px;
}

.name {
    font-size: 32px;
}

.coder-text {
    color: #45A7C5;
}

.academy-text {
    color: #1C3C5C;
}

#nav-items {
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

#nav-items a {
    text-decoration: none;
}